<div class="email-sign-up">
  <form action="https://tinyletter.com/BCMSRT" method="post" target="popupwindow"
        onsubmit="window.open('https://tinyletter.com/BCMSRT', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <div>
      <h2 class="title-roboto-medium"><label for="tlemail">Sign up for our mailing list.</label></h2>
      <p>Get regular updates about our projects, including ways medical students and physicians
        can get involved.</p>
      <input type="text" name="email" id="tlemail"/>
      <input id="email-submit-btn" type="submit" value="SUBSCRIBE"/>
    </div>
  </form>
</div>

<footer>
  <div class="footer-content">
    <div class="footer-left">
      <a href="/">
        <img class="footer-logo" src="/assets/images/footer-elbows-small.png">
        <p class="footer-tag">@ WE CAN COVID-19 MSRT, 2020</p>
      </a>
    </div>

    <div class="footer-links">
      <div>
        <p><a href="/about">About</a></p>
        <p><a href="/contact">Contact Us</a></p>
        <p><a href="/projects">Projects</a></p>
      </div>
      <div>
        <p><a href="/everyone">COVID-19 Info</a></p>
        <p><a href="/physicians">For Physicians</a></p>
        <p><a href="/students">For Students</a></p>
      </div>
    </div>

    <div class="footer-social-media">
      <a href="#"><img class="social-media-icon" src="/assets/images/twitter.png"></a>
      <a href="#"><img class="social-media-icon" src="/assets/images/linkedin.png"></a>
      <a href="#"><img class="social-media-icon" src="/assets/images/instagram.png"></a>
    </div>
  </div>
</footer>
