<!--<footer>-->
<!--  <div class="footer-content">-->
<!--    <div class="footer-left">-->
<!--      <img class="footer-logo" src="/assets/images/footer-elbows-small.png">-->
<!--      <p class="footer-tag">@BC COVID-19 MSRT, 2020</p>-->
<!--    </div>-->

<!--    <div class="footer-links">-->
<!--      <a href="/about">About</a>-->
<!--      <a href="/contact">Contact Us</a>-->
<!--      <a href="/projects">Projects</a>-->
<!--      <a href="/everyone">COVID-19 Info</a>-->
<!--      <a href="/physicians">For Physicians</a>-->
<!--      <a href="/students">For Students</a>-->
<!--    </div>-->

<!--    <div class="footer-social-media">-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
