<header>
    <div class="nav-container">

        <div class="nav-text-and-pics">
            <h1><a href="/">MSRT</a></h1>
        </div>

        <div class="dropdown">
            <input class="hamburger menu-btn" type="checkbox" id="menu-btn" />
            <label class="hamburger menu-icon" for="menu-btn">
                <span class="navicon-top"></span>
                <span class="navicon-mid"></span>
                <span class="navicon-bottom"></span>
            </label>

            <div class="menu">
                <a class="nav-item" href="/">Home</a>
                <a class="nav-item" href="/updates">News & Updates</a>
                <a class="nav-item" href="/requests">For Physician Support & Project Requests</a>
                <a class="nav-item" href="/students">For Medical Students</a>
                <a class="nav-item" href="/projects">Current Projects</a>
                <a class="nav-item" href="/public">For the Public</a>
                <a class="nav-item" href="/about">About Us</a>
                <a class="nav-item" href="/contact">Contact Us</a>
            </div>
        </div>
    </div>
</header>
