<header>
  <div class="header-highlight">
    <div class="blue-highlight"></div>
    <div class="orange-highlight"></div>
  </div>

  <div class="header-logo-nav">
    <div class="container">
      <a href="/">
        <div class="header-logo">
          <h1>BC COVID-19 MSRT</h1>
          <img src="/assets/images/elbows.png">
          <h2>Medical Student Response Team</h2>
        </div>
      </a>
    </div>

    <div class="nav-links">
      <div class="dropdown">
        <input class="hamburger menu-btn" type="checkbox" id="menu-btn" />
        <label class="hamburger menu-icon" for="menu-btn">
          <span class="navicon-top"></span>
          <span class="navicon-mid"></span>
          <span class="navicon-bottom"></span>
        </label>

        <div class="menu">
          <a class="nav-item" href="/">HOME</a>
          <a class="nav-item" href="/updates">NEWS & UPDATES</a>
          <a class="nav-item" href="/projects">PROJECTS</a>
          <a class="nav-item" href="/physicians">FOR PHYSICIANS</a>
          <a class="nav-item" href="/volunteer">FOR MED STUDENTS</a>
          <a class="nav-item" href="/everyone">FOR EVERYONE</a>
          <a class="nav-item" href="/about">ABOUT</a>
          <a class="nav-item" href="/contact">CONTACT US</a>
        </div>
      </div>
    </div>
  </div>
</header>