$mobile-transition-width: 750px;
$mini-mobile-transition-width: 500px;

[hidden] {
  display: none;
}

body {
  margin: 0;
  font-family: 'Open Sans', Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2, h3 {
  font-weight: normal;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

// Header
header {
  line-height: 1.25em;
  display: block;
  margin: 0 auto 1rem;
  max-width: 1040px;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;

  h1 {
    font-family: Georgia, serif;
    font-size: 4rem;
    font-weight: 500;
    border-top: 4px solid white;
    color: #00374f;
    display: inline-block;
    min-height: 70px;
    margin: 55px auto 0;
    padding: 0 10px;
    z-index: 2;

    &::after {
      background-color: #dd3b2a;
      content: '';
      height: 2px;
      left: 0;
      margin-top: -3px;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }

  h2 {
    max-width: 600px;
    width: 100%;
    text-align: right;
    margin: -1rem auto 0;
    color: #000544;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
  }
}

@media (max-width: $mobile-transition-width) {
  header {
    h1 {
      background: white;
      font-size: 2rem;
      line-height: 1em;
      margin: 15px 0 10px;
      min-height: 40px;
      width: 200px;

      &::after {
        margin-top: 1rem;
      }
    }

    h2 {
      font-size: 1.1rem;
      max-width: 200px;
      margin: -0.5rem auto 0;
    }
  }
}

@media (max-width: $mini-mobile-transition-width) {
  header {

    .title {
      //margin-left: 1em;
    }

    h1 {
      font-size: 1.3rem;
      max-width: 120px;

      &::after {
        margin-top: 1.5rem;
      }
    }

    h2 {
      //padding: 0 1em;
      background: white;
      font-size: 0.8rem;
      width: 100px;
      margin: -0.5rem auto 0;
      padding: 0 0.5rem;
    }
  }
}

// Navbar
header {
  padding: 0;
  width: 100%;

  a {
    font-style: normal;
  }
}

header .nav-links {
  max-width: none;
  height: 4rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

// Button and navicon animation
.nav-text-and-pics {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5em 0;
}

header .menu-btn {
  display: none;
}

header .menu-icon {
  cursor: pointer;
  flex-direction: column;
  padding: 0;
}

header .menu-icon .navicon-top,
header .menu-icon .navicon-mid,
header .menu-icon .navicon-bottom {
  background:black;
  height: 3px;
  width: 40px;
  display: block;
  margin: 3px 0;
  transition: all .2s ease-out;
}

header .menu-icon .navicon-mid {
  transition: background .2s ease-out;
}

header .menu-btn:checked ~ .menu-icon .navicon-mid {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon-bottom {
  transform: translateY(-9px) rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon-top {
  transform: translateY(9px) rotate(45deg);
}

.hamburger {
  display: none;
}

a {
  color: unset;
  text-decoration: none;

  &.nav-item {
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 1em 0.5em;
    font-size: 1.3rem;
  }

  &:hover,
  &:focus {
    color: red;
  }
}

@media screen and (max-width: 900px) {
  a.nav-item {
    font-size: 1rem;
  }
}

@media screen and (max-width: $mobile-transition-width) {
  header {
    display: flex;
    justify-content: space-between;
  }

  .nav-links {
    padding: 0em;
    margin: 20px;
  }

  // show hamburger button
  .hamburger {
    display: flex;
  }

  // Open menu if checked
  .menu {
    line-height: 1.5em;
    z-index: 5; // stack order, greater in front
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    margin-top: 0.5em;
    border: 0.5px solid grey;
    transition: visibility 0.25s, opacity 0.25s ease-in-out;
  }

  header .menu-btn:checked ~ .menu {
    visibility: visible;
    opacity: 1;
  }

  a.nav-item {
    font-size: 1.5rem;
    padding: 0.5em 1em;
  }
}

@media screen and (max-width: $mini-mobile-transition-width) {
  .dropdown {
    margin-right: 10px;
  }

  a.nav-item {
    font-size: 1rem;
  }
}

// Non-nav Links
a {
  color: #0e00c0;
  font-style: italic;

  &:hover,
  &:active,
  &:focus {
    color: red;
  }
}

.about-home {
  text-align: center;
  background: #8cf2ff;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //border-top: 2px solid black;
  //border-bottom: 2px solid black;

  h2 {
    margin-top: 0;
    max-width: 600px;
  }

  p {
    margin: 0;
    font-size: 1.3em;
    width: 50%;
  }
}

.cards {
  width: 60%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 230px;
  height: 300px;
  text-align: center;
  margin: 1rem;
  background: #f6f6f6;

  h3 {
    margin-bottom: 0.5em;
  }

  p {
    font-size: 1.2rem;
    margin: 0 1em 1em;
    text-align: left;
  }
}

footer {
  margin: 0 auto;
  max-width: 60%;
}